* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.content {
  display: flex;
  width: 90%;
}
.sidebar, .details {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar {
  width: 200px;
  background: lime;
}
.details {
  text-align: center;
  flex: 1;
  background-color: aquamarine;
}

form {
  height: 40px;
  display: flex;
  margin-block: 10px;
  gap: 10px;
}

.add-note, .add-note-btn {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-size: 17px;
}
.add-note-btn {
  background: rgb(87, 87, 253);
  color: white;
  font-weight: 600;
  border: none;

}

.note {
  padding: 10px;
  background: limegreen;
}
.note:hover {
  padding-inline: 10px;
  background: rgba(12, 12, 12, 0.5);
  cursor: pointer;
}
.note-title {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: rgb(18, 23, 18);
}

.description {
  max-width: 60ch;
  margin: 0 auto;
}
.description-title {
  text-decoration: underline;
}
.title {
  margin-bottom: 20px;
  color: red;
  font-size: 1.8rem;
}
.text {
  font-size: 18px;
  font-style: italic;
}

@media (max-width: 400px) {
  .sidebar {
    width: 150px;
  }
  form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
}