* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.content {
  display: flex;
  width: 90%;
}
.sidebar, .details {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar {
  width: 200px;
  background: lime;
}
.details {
  flex: 1;
  background-color: aquamarine;
}

.add-note {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-size: 18px;
  margin-block: 10px;
}

.note {
  padding: 10px;
  background: limegreen;
}
.note:hover {
  padding-inline: 10px;
  background: rgba(12, 12, 12, 0.5);
  cursor: pointer;
}
.note-title {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: rgb(18, 23, 18);
}